#boton {
  position: absolute;
  right: 10px;
  top: 10px; 
}

#logo img {
  position: absolute;
  left: 10px; 
  top: 10px; 
  width: 30px;
}
#miBoton {
  background-color:white;
  color:gray; 
  border: none; 
  padding: 10px 20px; 
}
.contenedor{
  position: absolute;
  left: 10px; 
  top: 100px;     
}

